/.idea
/.cache
/.well-known
/logs
/storage
/video-edit
/node_modules
/system/vendor/
/test

/react
/react1
/land

config.php
vibe_config.php

.bash_history
.htaccess
.htaccess_gzip
xatikont_youinro.sql.gz

*.lock
*.log