.category-block {
    display: block;
    position: relative;
    height: 200px;
    color: white !important;
    width: 200px;
    border-radius: 50%;
    background-color: #000000a1;
}

.category-block-filter:hover {
    background-color: #00000040;
}

.category-block-filter {
    display: block;
    position: absolute;
    height: 200px;
    color: white !important;
    width: 200px;
    border-radius: 50%;
    background-color: #000000a1;
}

.category-block h3 {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    width: 200px;
    color: white !important;
    font-weight: bold;
}

.category-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}