#sidebar {
    display: block !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 240px;
    top: 62px;
    text-align: left;
    padding: 0px 0px 2px 0px;
    width: 240px;
    z-index: 103;
    overflow-y: scroll;
    background: #fff;
    color: #666666;
    font-weight: 500;
    /*transition: all .3s linear 0s;*/
    -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, .08);
    -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, .08);
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, .08);
}

.sidebar-nav li {
    padding: 9px 0 9px 18px !important;
}

.li-heading {
    padding: 17px 15px 15px 14px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-nav li>a>span {
    font-size: 15px !important;
}

.tooltip-item {
    /*transition: all .3s linear 0s;*/
    display: none;
}

#sidebar.hide {
    display: block;
    /*transition: all .3s linear 0s;*/
    width: fit-content !important;
}

#sidebar.hide .sidebar-nav li {
   /* transition: all .3s linear 0s;*/
    font-size: 15px;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding: 9px;
    align-items: center;
    flex-direction: column;
    -webkit-box-orient: vertical;
}

.lihead:hover {
    background-color: #f3f3f3;
    border-radius: 0 20px 20px 0;
    width: 97% !important;
}

#sidebar.hide .tooltip-item {
    /*transition: all .3s linear 0s;*/
    display: block;
    font-size: 12px;
}

#sidebar.hide #endSidebar {
    /* display: none; */
}

#sidebar.hide #guestButton {
    display: none;
}

.sidebar-nav ul li i {
    margin: auto !important;
}

#sidebar.hide #subscribtionItems {
    display: none;
}

#sidebar.hide #playlistItems {
    display: none;
}

#sidebar.hide #subscriptionDropdown {
    display: none;
}

#sidebar #playlistMinimize {
    display: none;
}

#sidebar.hide #playlistMinimize {
    display: none;
}

#sidebar.hide #playlistDropdown {
    display: none;
}

#sidebar.hide-all {
    display: none !important;
    /*transition: all .3s linear 0s;*/
}

#myInbox {
    position: relative;
}

#sidebar * {
    /*transition: all .3s linear 0s;*/
}

#sidebar.hide * {
    /*transition: all .3s linear 0s;*/
    font-size: 0px;
    width: fit-content !important;
}

.notifyjs-wrapper:nth-child(n+2) {
    display: none !important;
}

#show-search {
    display: none;
}

.relative {
    position: relative;
}

#sidebar hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-nav ul a img {
    margin-left: 2px;
    margin-right: 20px !important;
}

#subscriptionMinimize {
    display: none;
    align-self: center;
    margin: auto;
    padding-left: 8px;
    width: 216px;
}

#subscriptionDropdown {
    align-self: center;
    display: block;
    margin: auto;
    padding-left: 8px;
    width: 216px;
}

#subscriptionMinimize>span,
#subscriptionDropdown>span {
    padding-left: 23px;
    position: absolute;
}

#playlistMinimize,
#playlistDropdown {
    align-self: center;
    display: block;
    top: 0;
    /* top: 35%; */
    left: 8%;
    margin: auto;
    position: absolute;
}

.li-heading.li-heading-iconed {
    text-align: start;
    padding: 0px 15px 15px 71px !important;
}

.li-heading {
    padding: 5px 15px 5px 22px !important
}

.li-heading h5 {
    padding-top: 4px;
}

#sidebar.hide .badge {
    display: none;
}

a#openusr {
    color: white !important;
}

#sidebar * {
    font-weight: bold !important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #wrapper.haside {
        width: 82.75%;
        margin-left: auto !important;
        padding: 0px !important;
    }

    #sidebar {
        width: 240px;
    }

    #wrapper {
        width: 92%;
        margin-right: 0px !important;
        margin-left: 6.1%;
        padding: 0px !important;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #wrapper.haside {
        width: 82.75%;
        margin-left: auto !important;
        padding: 0px !important;
    }

    #sidebar {
        width: 240px;
    }

    #wrapper {
        width: 96% !important;
        margin-right: 0px !important;
        margin-left: 4.1%;
        padding: 0px !important;
    }
}

@media only screen and (max-device-width: 736px) and (max-device-width: 480px) and (max-device-width: 640px) {

#linkTop {
	display: none;
}

    #sidebar {
        display: none !important;
    }

    .searchWidget {
        display: none !important;
    }

    #SubscribeModal .modal-dialog {
        width: 100% !important;
    }

    #show-search {
        display: none !important;
    }

    .sidebar-mobile {
        display: block;
    }

    #confSlider {
        display: none;
    }

    .course-row {
        justify-content: center;
        zoom: .6;
    }

    .card__body>* {
        font-size: 15px;
    }

/*    #footer {
        margin-top: 29px;
        bottom: 7%;
    }*/

  #footer {
    margin-top: 30px;
    height: 0px;
  }

  #footer  .footer-holder  {
  	display: none;
  }


    #wrapper {
        margin: 14% auto !important;
        /*max-width: fit-content;*/
    }

    .jumbotron-description {
        margin: 0 auto !important;
    }

    .jumbotron-description>h3 {
        font-size: 15px;
    }

    #myInbox {
        position: relative;
    }

    #chnls {
        display: none !important;
    }

    #show-search {
        display: inline-block;
    }

    .lihead {
        border-radius: 20px !important;
    }

    #wrapper.haside {
        margin-right: 0 !important;
    }

    #show-sidebar {
        display: none !important;
    }

    #sidebar * {
        /*transition: all .3s linear 0s;*/
        font-size: 0px;
        width: fit-content !important;
    }

    #sidebar .sidebar-nav {
        width: auto !important;
    }

    #sidebar * {
        width: auto !important;
    }

    #sidebar ul {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: center;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-box-orient: horizontal;
    }

    .sidebar-nav a {
        line-height: initial !important;
        -webkit-box-orient: horizontal;
    }

    .sidebar-nav li>a>span {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        float: none !important;
        justify-content: center;
    }

    .sidebar-nav ul {
        margin: 0 auto !important;
    }

    .sidebar-nav:not(:first-of-type) {
        display: none !important;
    }

    .li-heading {
        display: none !important;
    }

    #sidebar .sidebar-nav li {
        /*transition: all .3s linear 0s;*/
        font-size: 15px;
        margin: 0 auto;
        width: 100%;
        font-weight: 300;
        line-height: initial !important;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        padding: 9px;
        align-items: center;
        flex-direction: column;
        -webkit-box-orient: horizontal;
        -webkit-box-orient: vertical;
    }

    #sidebar .tooltip-item {
        /*transition: all .3s linear 0s;*/
        display: block;
        font-size: 12px;
    }

    #sidebar #endSidebar {
        display: none;
    }

    #sidebar #guestButton {
        display: none;
    }

    #sidebar #subscribtionItems {
        display: none;
    }

    #sidebar #subscriptionDropdown {
        display: none;
    }

    #sidebar #subscriptionMinimize {
        display: none;
    }

    #sidebar #playlistItems {
        display: none;
    }

    #sidebar #playlistDropdown {
        display: none;
    }

    #sidebar #playlistMinimize {
        display: none;
    }

    .owl-item .video {
        width: 100% !important;
    }

    .page {
        margin: 0 auto !important;
    }

    .red-nav a {
        font-size: 12px !important;
    }

    /*.channel-subheader {*/
    /*    display: none !important;*/
    /*}*/

    .backtotop {
        bottom: 45px !important;
    }

    .sticky {
        width: 100% !important;
    }
}