/* 
carousel animation is a little jank, might fix it at some point. Most buttons and links do not do anything; this was done for layout recreation, not functionailty :) Hope you like it, I learned a whole lot in the process!
*/

.carousel {
    margin-top: 6.3rem;
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    height: 23rem;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.carousel__chevron {
    font-size: 1.6rem;
    color: #898395;
    padding: 1rem 1.4rem;
    border-radius: 50%;
}

.carousel__chevron:hover {
    background-color: #d7d5dc;
    cursor: pointer;
}

.carousel__content {
    flex: 0 0 80%;
    height: 100%;
    position: relative;
}

.carousel__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 5px;
    color: #fff;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.carousel__overlay i:hover {
    cursor: pointer;
    color: #a991d4;
}

.carousel__overlay-top {
    flex: 0 1 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: inherit;
    color: white;
    padding: 20px;
    background: linear-gradient(360deg, transparent, black);
}

.carousel__overlay-picture {
    flex: 0 0 16%;
}

.carousel__overlay-picture img {
    height: 70px;
}

.carousel__overlay-text {
    flex: 0 0 50%;
    font-size: 12px;
    padding-left: 10px;
    font-weight: bold;
}

.carousel__overlay-name {
    font-weight: 700;
    font-size: 16px;
}

.carousel__overlay-title {
    margin-top: 2px;
}

.carousel__overlay-views {
    margin-top: 2px;
}

.carousel__overlay-live {
    flex: 0 0 16%;
    right: 20px;
    position: absolute;
    font-size: 16px;
    text-align: right;
}

.carousel__overlay-waiting {
    font-size: 16px;
    right: 0;
    flex: auto;
    text-align: right;
    font-weight: bold;
}

.carousel__overlay-live .record-button {
    height: 11px;
    width: 11px;
    display: inline-block;
    margin-right: 0;
    border-radius: 50%;
    background-color: red;
}

.carousel__overlay-live .u-inline-text {
    display: inline-block;
}

.carousel__overlay-bottom {
    flex: 0 1 100%;
    display: flex;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 110px;
    z-index: inherit;
    color: white;
    padding: 20px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(180deg, transparent, black);
    ;
    overflow: hidden;
}

.carousel__overlay-icon {
    font-size: 1.2rem;
}

.carousel__overlay-icon--volume {
    margin-left: 1rem;
}

.carousel__overlay-icon--settings {
    margin-left: auto;
    margin-right: 1rem;
}

.carousel__overlay-icon--fullscreen {
    transform: rotate(-45deg);
}

.carousel__overlay .big-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16rem;
    text-shadow: 0px 0px 10px black;
}

.carousel__overlay .big-play:hover {
    cursor: pointer;
    text-shadow: 0px 0px 12px black;
    color: #fff;
    font-size: 19rem;
    transition: all ease-in 0.25s;
}

.carousel__video {
    width: 550px;
    height: 310px;
    position: absolute;
    transition: all 0.5s;
}

.carousel__video .inactive {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 0.06);
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.carousel__video .inactive+img {
    transition: all 0.2s ease-out;
}

.carousel__video .inactive:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel__video .inactive:hover+img {
    transform: scale(1.02);
}

.carousel__video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
}

.carousel__video iframe {
    z-index: 100;
}

.carousel__video.main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.carousel__video.main .inactive+img {
    transition: none;
}

.carousel__video.main .inactive:hover {
    cursor: initial;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel__video.main .inactive:hover+img {
    transform: scale(1);
}

.carousel__video.hidden {
    display: none;
}

.carousel__video.secondary {
    width: 467.5px;
    height: 263.5px;
    z-index: 2;
}

.carousel__video.secondary-left {
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.carousel__video.secondary-right {
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
}

.carousel__video.tertiary {
    width: 385px;
    height: 217px;
    z-index: 1;
}

.carousel__video.tertiary-left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.carousel__video.tertiary-right {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}

.carousel__video-picture {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video-row {
    flex: 0 1 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.video-row__title {
    flex: 0 1 100%;
    margin-bottom: 10px;
}

.video-row__item {
    position: relative;
    flex: 0 1 32%;
}

.recommended-video {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.recommended-video__thumbnail {
    flex: 0 1 100%;
    position: relative;
}

.recommended-video__thumbnail:hover {
    cursor: pointer;
}

.recommended-video__thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.recommended-video__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.9));
}

.recommended-video__overlay-live {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    position: absolute;
    top: 6%;
    left: 3%;
    width: 50px;
    height: 17px;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recommended-video__overlay-live .record-button {
    width: 8px;
    height: 8px;
}

.recommended-video__overlay-viewers {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 12px;
}

.recommended-video__info {
    font-size: 12px;
    flex: 0 1 100%;
    display: flex;
    margin-top: 5px;
}

.recommended-video__info-content {
    flex: 0 1 80%;
}

.recommended-video__channel-pic {
    flex: 0 1 15%;
    position: relative;
}

.recommended-video__channel-pic img {
    height: 40px;
    border-radius: 2px;
}

.recommended-video__title {
    font-size: 14px;
}

.recommended-video__channel {
    margin-top: 5px;
    color: #322f37;
}

.recommended-video__game {
    margin-top: 5px;
    color: #322f37;
}

.recommended-video__tags {
    margin-top: 5px;
    display: flex;
}

.recommended-video__menu {
    flex: 0 1 5%;
}

.recommended-video__menu i {
    margin-top: 6px;
}

.tag {
    margin-right: 5px;
    font-size: 11px;
    border: 1px solid #dad8de;
    padding: 3px;
    border-radius: 3px;
}

.tag:hover {
    cursor: pointer;
    background-color: #f1eef1;
    color: red;
    color: #6441a4;
}

.category-row {
    flex: 0 1 95%;
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.category-row__title {
    flex: 0 1 100%;
}

.category-row__content {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}

.boxart {
    color: inherit;
    flex: 0 1 16%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.boxart__image {
    flex: 0 1 100%;
    position: relative;
}

.boxart__image:hover {
    cursor: pointer;
    color: #4b367c;
}

.boxart__image:hover+.boxart__content .boxart__title {
    color: #4b367c;
}

.boxart__image img {
    border-radius: 5px;
    width: 100%;
}

.boxart__content {
    flex: 0 1 100%;
    display: flex;
    margin-top: 5px;
}

.boxart__text {
    flex: 0 1 95%;
    font-size: 12px;
}

.boxart__title {
    font-size: 14px;
}

.boxart__title:hover {
    cursor: pointer;
    color: #4b367c;
}

.boxart__viewers {
    margin-top: 5px;
    color: #898395;
}

.boxart__tags {
    margin-top: 5px;
    display: flex;
}

.boxart__menu {
    flex: 0 1 5%;
    font-size: 12px;
}

.boxart__menu i {
    margin-top: 5px;
}

.u-bold {
    font-weight: 700;
}

.u-purple-link {
    text-decoration: none;
    color: #4b367c;
    font-weight: 700;
}

.u-purple-link:hover {
    text-decoration: underline;
}

.u-purple-hover:hover {
    text-decoration: underline;
    color: #4b367c;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

.course-row {
    display: inline-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: start;
}

/* CourseCard */

.card {
    margin-top: 20px;
    margin: 10px 10px 0 0;
    width: 245px;
    position: relative;
    height: 350px;
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 5px 7px 21px rgba(0, 0, 0, 0.56);
}

.card:hover .card__header .mask {
    background: rgba(141, 149, 157, .65);
}

.card:hover .card__header .fa-bookmark {
    color: #fff;
}

.card__header {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card__header .fa-bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #21b7f8;
    font-size: 24px;
    z-index: 10000;
    transition: color .75s;
}

.card__header .after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200%;
    height: 115px;
    z-index: 100;
}

.card__header .after .square {
    float: left;
    position: absolute;
    left: 0;
    width: 50%;
    height: inherit;
    background: #fff;
}

.card__header .after .tri {
    float: left;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 260px;
    border-color: transparent transparent transparent #fff;
}

.card__header .thumb {
    width: 100%;
    height: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__header .category {
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.card__header .category span {
    display: inline-block;
    padding: 3px 4px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #21b7f8;
    border-radius: 2px;
}

.card__header .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(141, 149, 157, 0);
    transition: background .15s;
}

.card__body {
    height: 156px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.card__body .title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 12px 0;
    padding: 0 40px;
    text-align: center;
    color: rgba(0, 0, 0, .87);
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

.card__body .description {
    position: absolute;
    font-size: 12px;
    padding: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    opacity: 0;
}

.card__body .subtitle {
    margin: 0;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

.card__footer .share {
    position: absolute;
    bottom: 10px;
    left: -50%;
    float: left;
    margin-left: 10px;
    background: #21b7f8;
    border-radius: 2px;
    border: 0;
    z-index: 1000;
    border-bottom: 2px solid #1593D3;
    outline: 0;
    outline-offset: 0;
    color: #fff;
    opacity: 0;
}

.card__footer .share::first-letter {
    text-transform: uppercase;
}

.card__footer .nb-share {
    position: absolute;
    bottom: 10px;
    left: -50%;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.7;
    opacity: 0;
    z-index: 999;
}

.card__footer .site {
    position: absolute;
    margin-right: 10px;
    bottom: 10px;
    right: -50%;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;
    opacity: 0;
}

@media only screen and (max-device-width: 736px) and (max-device-width: 480px) and (max-device-width: 640px) {

    .card__body .title {
        font-size: 12px;
        padding: 0px;
    }

    .card__header .category {
        bottom: -4px;
    }
}